# Игнорируем состояние Terraform (ТАМ ВСЕ ПАРОЛИ В ОТКРЫТОМ ВИДЕ!)
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Игнорируем временные файлы Ansible и логи
*.log
*.retry

# Если у тебя появятся несшифрованные файлы секретов, их тоже сюда
# secrets.json (только .enc.json идет в git)
*.bak